@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
  --start-gradient-color: rgba(69, 106, 239, 1);
  --end-gradient-color: rgba(224, 37, 206, .79);
  --sidebar-color: rgba(196, 196, 196, .3);
  --info-item-color: rgba(196, 196, 196, .35);
  --white-color: rgba(255, 255, 255, 1);
  --sidebar-main-header-color: rgba(206, 202, 202, 1);
  --skill-active-circle: rgba(84, 84, 84, .6);
  --skill-inactive-circle: rgba(202, 202, 202, 1);
  --border-radius: 10px;
  --grey-color: rgba(84, 84, 84, 1);
  --main-text-color: rgba(0, 0, 0, .8);
  --main-header-color: rgba(52, 52, 52, 1);
  --light-grey-color: rgba(115, 128, 141, 1);
  --circle-grey-color: rgba(231, 231, 231, 1);
  --circle-blue-color: rgba(59, 89, 153, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  padding: 16px 0;
  background: linear-gradient(180deg, var(--start-gradient-color) 0%, var(--end-gradient-color) 100%);
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.full_width {
  width: 100%;
}

.padding-horizontal-s {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-horizontal-m {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-horizontal-l {
  padding-left: 32px;
  padding-right: 32px;
}

.padding-vertical-s {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-vertical-m {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding-vertical-l {
  padding-top: 32px;
  padding-bottom: 32px;
}

.container {
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.sidebar {
  flex-basis: 38%;
  min-height: 100%;
  background-color: var(--sidebar-color);
  border-radius: var(--border-radius);
  color: var(--white-color);
}

.sidebar_header {
  margin-bottom: 24px;
}

.sidebar_header picture {
  align-self: center;
}

.avatar {
  width: 110px;
  height: 110px;
  margin-bottom: 8px;
}

.card_name {
  color: var(--sidebar-main-header-color);
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0;
}

.card_name span {
  margin: 4px 0;
  display: block;
  color: var(--white-color);
  font-size: 36px;
  line-height: 42px;
}

.card_name strong {
  font-weight: 700;
}

.info_block {

}

.info {
  margin-bottom: 8px;
  border-radius: var(--border-radius);
  background-color: var(--info-item-color);
  font-size: 14px;
}

.info_header {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.info img {

}

.info address a {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 400;
}

.languages_list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.languages_list li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
}

.skill-level {
  display: flex;
  gap: 4px;
}

.languages_list li span {
  font-size: 14px;
  line-height: 18px;
}

.circle {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--skill-inactive-circle);
}

.active {
  background-color: var(--skill-active-circle);
}

.specialization_list,
.socials_media {
  padding-left: 24px;
}

.specialization_list li,
.socials_media li {
  font-size: 14px;
  line-height: 16px;
}

.socials_media li a {
  color: var(--white-color);
  text-decoration: none;
}

.separator {
  position: relative;
  top: 36px;
}

main {
  padding-left: 14px;
  padding-right: 14px;
  flex-basis: 66%;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 16px;
}

.title,
.subtitle {
  color: var(--main-header-color);
}

main section {
  overflow: hidden;
}

.title-in-box {
  margin-top: 24px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-color);
  color: var(--white-color);
  width: 164px;
  height: 24px;
  border-radius: 4px;
  position: relative;
}

.title-in-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 100vw;
  height: 1px;
  background-color: var(--grey-color);
}

main p,
.title {
  margin-top: 12px;
}

.title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  line-height: 18px;
}

.period {
  font-size: 14px;
  line-height: 16px;
  color: var(--light-grey-color);
}

.skill-set {
  margin-top: 12px;
  gap: 16px;
}

.skill {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.skill-circle {
  --v: calc(((18 / 5) * var(--p) - 90) * 1deg);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(var(--circle-grey-color), var(--circle-grey-color)) content-box,
  linear-gradient(var(--v), var(--white-color) 50%, transparent 0) 0 / min(100%, (50 - var(--p)) * 100%),
  linear-gradient(var(--v), transparent 50%, var(--circle-blue-color) 0) 0 / min(100%, (var(--p) - 50) * 100%),
  linear-gradient(to right, var(--white-color) 50%, var(--circle-blue-color) 0);
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: var(--grey-color);
}

.skill-label {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--grey-color);
}

